.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}



.counter h1{
  font-size: 80px;
}

.dropdown>ul {
  list-style-type: none;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}
.dropdown-content>li>a {
  text-decoration: none;
  color: white;
  padding: 3px;
}
.dropdown-content>li>a:hover {
  color: #05657d;
  background-color: white;
  
  border-radius: 10px;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fac_cards{
  max-height: 70vh;
}
.hoverone{
  transition: 0.5s;
}

.hoverone:hover{
     transform: scale(1.08);
}
.hover2{
  transition: 1s;
}
.hover2:hover {
  transform:rotateY(180deg);
}
.sub-head {
  background-image: linear-gradient(#f8f9fa, white);;
}
